<div *ngIf="!isSearchingPerson" class="pure-g">
    <div class="pure-u-1">
        <form #form="ngForm" (ngSubmit)="save(form)">
            <div class="pure-u-1-5 l-box">First Name:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="person.firstName" name="firstName" />
            </div>
            <div class="pure-u-1-5 l-box">Last Name:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="person.lastName" name="lastName" />
            </div>            
            <div class="pure-u-1-5 l-box">Date of Birth:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="person.dateOfBirth | date:'yyyy-MM-dd'" 
                    (ngModelChange)="person.dateOfBirth=$event" name="dateOfBirth" />
            </div>
            <div class="pure-u-1-5 l-box">Date of Death:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="person.dateOfDeath | date:'yyyy-MM-dd'" 
                    (ngModelChange)="person.dateOfDeath=$event" name="dateOfDeath" />
            </div>
            <div class="pure-u-1-5 l-box">Gender:</div>
            <div class="pure-u-4-5 l-box">
                <select name="gender" [(ngModel)]="person.gender">
                    <option *ngFor="let g of genders" [value]="g[0]">{{ g[1] }}</option>
                </select>
            </div>

            <!-- Parents -->
            <div>
                <!-- Father -->
                <div class="pure-u-1-5 l-box">Father:</div>
                <div *ngIf="father!=null" class="pure-u-2-5 l-box">{{ father | personname }}</div>
                <div *ngIf="father!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(2)">Change</button>
                    <button class="pure-button" (click)="removeParent(father)">Remove</button>
                </div>
                <div *ngIf="father==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="father==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(2)">Find</button>
                </div>

                <!-- Mother -->
                <div class="pure-u-1-5 l-box">Mother:</div>
                <div *ngIf="mother!=null" class="pure-u-2-5 l-box">{{ mother | personname }}</div>
                <div *ngIf="mother!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(1)">Change</button>
                    <button class="pure-button" (click)="removeParent(mother)">Remove</button>
                </div>
                <div *ngIf="mother==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="mother==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(1)">Find</button>
                </div>

            </div>



            <div class="pure-u-1 l-box">
                <button type="submit" class="pure-button pure-button-primary" [class.pure-button-warning]="isEditing">
                    {{isEditing ? "Save" : "Create"}}
                </button>
                <button *ngIf="context=='persons'" type="reset" class="pure-button pure-button-secondary" routerLink="/persons">
                    Cancel
                </button>
                <button *ngIf="context!='persons'" type="reset" class="pure-button pure-button-secondary" (click)="cancel()">
                    Cancel
                </button>                
            </div>
        </form>
    </div>
</div>

<div *ngIf="isSearchingPerson" class="pure-g">
    <app-person-picker (selectedPerson)="onPersonSelected($event)" (cancelled)="cancelPersonSearch()"></app-person-picker>    
</div>