<div class="pure-g">
    <div class="pure-u-1">
        <form #form="ngForm" (ngSubmit)="save(form)">
            <div class="pure-u-1-5 l-box">First Name:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="person.firstName" name="firstName" />
            </div>
            <div class="pure-u-1-5 l-box">Last Name:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="person.lastName" name="lastName" />
            </div>
            <div class="pure-u-1-5 l-box">Middle Name:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="person.middleName" name="middleName" />
            </div>
            <div class="pure-u-1-5 l-box">Date of Birth:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="person.dateOfBirth | date:'yyyy-MM-dd'" 
                    (ngModelChange)="person.dateOfBirth=$event" name="dateOfBirth" />
            </div>
            <div class="pure-u-1-5 l-box">Date of Death:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="person.dateOfDeath | date:'yyyy-MM-dd'" 
                    (ngModelChange)="person.dateOfDeath=$event" name="dateOfDeath" />
            </div>
            <div class="pure-u-1-5 l-box">Gender:</div>
            <div class="pure-u-4-5 l-box">
                <select name="gender" [(ngModel)]="person.gender">
                    <option *ngFor="let g of genders" [value]="g[0]">{{ g[1] }}</option>
                </select>
            </div>
            <div class="pure-u-1 l-box">
                <button type="submit" class="pure-button pure-button-primary" [class.pure-button-warning]="isEditing">
                    {{isEditing ? "Save" : "Create"}}
                </button>
                <button *ngIf="context=='persons'" type="reset" class="pure-button pure-button-secondary" routerLink="/persons">
                    Cancel
                </button>
                <button *ngIf="context!='persons'" type="reset" class="pure-button pure-button-secondary" (click)="cancel()">
                    Cancel
                </button>                
            </div>
        </form>
    </div>
</div>