<div *ngIf="!isSearchingPerson" class="pure-g">
    <div class="pure-u-1">
        <form>
            <div class="pure-u-1-5 l-box">Type of Record:</div>
            <div class="pure-u-4-5 l-box">
                <select name="recordType" [(ngModel)]="record.recordType">
                    <option *ngFor="let r of recordTypes" [value]="r[0]">{{ r[1] }}</option>
                </select>
            </div>
            <div class="pure-u-1-5 l-box">Date Recorded:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="record.recordDate | date:'yyyy-MM-dd'" 
                  (ngModelChange)="record.recordDate=$event" name="recordDate" />
            </div>
            <div class="pure-u-1-5 l-box">Registry Book:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.registryBook" name="registryBook" />
            </div>
            <div class="pure-u-1-5 l-box">Folio:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.folio" name="folio" />
            </div>
            <div class="pure-u-1-5 l-box">House Number:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.houseNumber" name="houseNumber" />
            </div>
            <div class="pure-u-1-5 l-box">Street:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.streetName" name="street" />
            </div>
            <div class="pure-u-1-5 l-box">City:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.city" name="city" />
            </div>
            <div class="pure-u-1-5 l-box">Country:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.country" name="country" />
            </div>
            <div *ngFor='let p of record.peopleInRecord'>
                <div class="pure-u-1-5 l-box">Person in Record:</div>
                <div class="pure-u-2-5 l-box">{{ p.person.toString() }} - {{ p.personType | personType }}</div>                                
                <div class="pure-u-2-5 l-box"><button class="pure-button" (click)="initPersonSearch()">Change</button><button class="pure-button">Delete</button></div>
            </div>
            <div *ngIf="record.peopleInRecord==null || record.peopleInRecord.lenght==0"><button class="pure-button">Add</button></div>
            <div class="pure-u-1 l-box">
                <button type="submit" class="pure-button pure-button-primary" [class.pure-button-warning]="isEditing">
                    {{isEditing ? "Save" : "Create"}}
                </button>
                <button type="reset" class="pure-button pure-button-secondary" routerLink="/records">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isSearchingPerson" class="pure-g">
    <app-person-picker></app-person-picker>
    <div class="pure-u-1"><button class="pure-button" (click)="cancelPersonSearch()">Cancel</button></div>
</div>