<div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-u-1-5 l-box">Type of Record:</div><div class="pure-u-4-5 l-box">{{ record.recordType | recordType }}</div>      
      <div *ngFor='let p of record.peopleInRecord'>
            <div class="pure-u-1-5 l-box">Person in Record:</div><div class="pure-u-4-5 l-box">{{ p.person | personname }} - {{ p.personType | personType }}</div>            
            <div style="padding-left: 10px;"><app-person-detail [person]="p.person" [isNested]="true"></app-person-detail></div>
      </div>
      <div class="pure-u-1-5 l-box">Date Recorded:</div><div class="pure-u-4-5 l-box">{{ record.recordDate | stringDate }}</div>
      <div class="pure-u-1-5 l-box">Registry Book:</div><div class="pure-u-4-5 l-box">{{ record.registryBook }}</div>
      <div class="pure-u-1-5 l-box">Folio:</div><div class="pure-u-4-5 l-box">{{ record.folio }}</div>
      <div class="pure-u-1-5 l-box">House Number:</div><div class="pure-u-4-5 l-box">{{ record.houseNumber }}</div>
      <div *ngIf="record.streetName != null"><div class="pure-u-1-5 l-box">Street:</div><div class="pure-u-4-5 l-box">{{ record.streetName }}</div></div>
      <div class="pure-u-1-5 l-box">City:</div><div class="pure-u-4-5 l-box">{{ record.city }}</div>
      <div *ngIf="record.country != null"><div class="pure-u-1-5 l-box">Country:</div><div class="pure-u-4-5 l-box">{{ record.country }}</div></div>
      <div class="pure-u-1 l-box">
          <button type="reset" class="pure-button pure-button-primary" routerLink="/records">
              Back
          </button>
      </div>
  <div>
</div>
