<div class="pure-g">
  <div class="pure-u-1">
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>People</th>
          <th>Book</th>
          <th>Folio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of recordList" >
          <td>{{ r.recordDate | date }}</td>
          <td>{{ r.recordType | recordType }}</td>
          <td>{{ r.peopleInRecord | comalist }}</td>          
          <td>{{ r.registryBook }}</td>
          <td>{{ r.folio }}</td>
          <td>
            <button [routerLink]="['/records/detail', r.id]" class="pure-button-primary pure-button">View</button>
            <button [routerLink]="['/records/edit', r.id]" class="pure-button-secondary pure-button">Edit</button>
            <button class="button-error pure-button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pure-u-1">
    <button [routerLink]="['/records/create']" class="pure-button pure-button-primary">Add</button>
  </div>
</div>