<div *ngIf="!isSearchingPerson && !isAddingPerson" class="pure-g">
    <div class="pure-u-1">
        <form>
            <div class="pure-u-1-5 l-box">Type of Record:</div>
            <div class="pure-u-4-5 l-box">
                <select name="recordType" [(ngModel)]="record.recordType">
                    <option *ngFor="let r of recordTypes" [value]="r[0]">{{ r[1] }}</option>
                </select>
            </div>
            <div class="pure-u-1-5 l-box">Date Recorded:</div>
            <div class="pure-u-4-5 l-box">
                <input type="date" [ngModel]="record.recordDate | date:'yyyy-MM-dd'" 
                  (ngModelChange)="record.recordDate=$event" name="recordDate" />
            </div>
            <div class="pure-u-1-5 l-box">Registry Book:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.registryBook" name="registryBook" />
            </div>
            <div class="pure-u-1-5 l-box">Folio:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.folio" name="folio" />
            </div>
            <div class="pure-u-1-5 l-box">House Number:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.houseNumber" name="houseNumber" />
            </div>
            <div class="pure-u-1-5 l-box">Street:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.streetName" name="street" />
            </div>
            <div class="pure-u-1-5 l-box">City:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.city" name="city" />
            </div>
            <div class="pure-u-1-5 l-box">Country:</div>
            <div class="pure-u-4-5 l-box">
                <input type="text" [(ngModel)]="record.country" name="country" />
            </div>

<!-- Mother = 1, Father = 2, Newborn = 3, Deceased = 4, Witness = 5, Godparent = 6, Bride = 7, Groom = 8 -->

            <!-- Need logic specific for record type - different types of persons will be added/searched. -->
            <!-- Birth -->
            <div *ngIf="record.recordType==1">
                <!-- Newborn -->
                <div class="pure-u-1-5 l-box">Newborn:</div>
                <div *ngIf="newborn!=null" class="pure-u-2-5 l-box">{{ newborn.person }}</div>
                <div *ngIf="newborn!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(3)">Change</button>
                    <button class="pure-button" (click)="removePersonFromRecord(3)">Remove</button>
                </div>
                <div *ngIf="newborn==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="newborn==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonAdd(3)">Create</button>
                    <button class="pure-button" (click)="initPersonSearch(3)">Find</button>
                </div>
            </div>
            <!-- Death -->
            <div *ngIf="record.recordType==2">
                <!-- Deceased -->
                <div class="pure-u-1-5 l-box">Deceased:</div>
                <div *ngIf="deceased!=null" class="pure-u-2-5 l-box">{{ deceased.person }}</div>
                <div *ngIf="deceased!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(4)">Change</button>
                    <button class="pure-button" (click)="removePersonFromRecord(4)">Remove</button>
                </div>
                <div *ngIf="deceased==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="deceased==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonAdd(4)">Create</button>
                    <button class="pure-button" (click)="initPersonSearch(4)">Find</button>
                </div>
            </div>
            <!-- Marriage -->
            <div *ngIf="record.recordType==3">
                <!-- Groom -->
                <div class="pure-u-1-5 l-box">Groom:</div>
                <div *ngIf="groom!=null" class="pure-u-2-5 l-box">{{ groom.person }}</div>
                <div *ngIf="groom!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(8)">Change</button>
                    <button class="pure-button" (click)="removePersonFromRecord(8)">Remove</button>
                </div>
                <div *ngIf="groom==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="groom==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonAdd(8)">Create</button>
                    <button class="pure-button" (click)="initPersonSearch(8)">Find</button>
                </div>
                <!-- Bride -->
                <div class="pure-u-1-5 l-box">Bride:</div>
                <div *ngIf="bride!=null" class="pure-u-2-5 l-box">{{ bride.person }}</div>
                <div *ngIf="bride!=null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonSearch(7)">Change</button>
                    <button class="pure-button" (click)="removePersonFromRecord(7)">Remove</button>
                </div>
                <div *ngIf="bride==null" class="pure-u-2-5 l-box">Missing</div>
                <div *ngIf="bride==null" class="pure-u-2-5 l-box">
                    <button class="pure-button" (click)="initPersonAdd(7)">Create</button>
                    <button class="pure-button" (click)="initPersonSearch(7)">Find</button>
                </div>
            </div>
            
            <div class="pure-u-1 l-box">
                <button type="submit" class="pure-button pure-button-primary" [class.pure-button-warning]="isEditing">
                    {{isEditing ? "Save" : "Create"}}
                </button>
                <button type="reset" class="pure-button pure-button-secondary" routerLink="/records">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isSearchingPerson" class="pure-g">
    <app-person-picker (selectedPerson)="onPersonSelected($event)" (cancelled)="cancelPersonSearch()"></app-person-picker>    
</div>

<div *ngIf="isAddingPerson" class="pure-g">
    <app-person-editor [context]="context" (saved)="onPersonAdded($event)" (cancelled)="cancelPersonAdd()"></app-person-editor>    
</div>